.Code {
    background: #282f3c;
    display: flex;
    flex-direction: column;
    font-family: Avenir;
    font-size: 12px;
}

.Credits {
    color: #adb5b8;
}

.Nav {
    font-size: 12px;
}

.Explorer {
    background: #161A21;
    color: #adb5b8;
}

.Explorer p {
    margin-inline-start: 1em;
}

.Collapsible p {
    margin-left: .25em;
}

.Codeview {
    display: flex;
}

.Sidebar {
    color: #adb5b8;
    background: #161A21;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 80vh;
}

.Folder {
    background: #353551;
}

.File {
    width: 100%;
    border: none;
    background: none;
    color: #adb5b8;
    text-align: left;
}

.File:hover {
    cursor: pointer;
    background: #282f3c;
}

.Project-viewer {
    background: #282f3c;
    width: 100%;
    font-family: Consolas,monaco,monospace;
    color: #adb5b8;
    height: 80vh;
    overflow: auto;
}

.Blog-header {
    padding: 1rem;
}

.Blog-body {
    padding-left: 4rem;
    padding-right: 4rem;
}

.Collapsible__trigger {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #282f3c;
    height: 2em;
}

.Collapsible__trigger:hover {
    background: #282f3c;
    cursor: pointer;
}

.Collapsible__trigger.is-closed svg {
    transform: rotate(270deg);
}

.Collapsible__trigger.is-open svg {
    transform: rotate(360deg);
}

.Collapsible__contentOuter {
    transition: height 10ms linear 0s !important;
}

.Collapsible svg {
    margin-left: .5em;
}

.File p {
    margin: .1em .1em .1em 1.5em;
}