@font-face {
    font-family: 'Work Sans';
    src: url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@font-face {
    font-family: 'Quicksand';
    src: url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
}

h1, h4, h6 {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Work Sans', sans-serif;
}

button {
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

.container {
    padding: 40px;
}

.bold-italics {
    font-weight: bold;
    font-style: italic;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    .nav-bold {
        font-weight: bold;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }
    li {
        padding: 15px;
    }
    a {
        color: black;
        text-decoration: none;
    }
}

.content {
    width: 50%;
    .post-content {
        line-height: 25px;
        .center-content {
            text-align: center;
        }
    }
}

#me {
    width: 75%;
}
.split {
    display: flex;
    justify-content: space-between;
}
.left-head {
    max-width: 50%;
    margin-top: 150px;
}
.right-head {
    margin-top: 120px;
    p {
        font-size: 25px;
        font-family: 'Quicksand', sans-serif;
        a {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
        strong {
            font-style: italic;
        }
    }
}
.skill-tags {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    span {
        background-color: lightgray;
        border-radius: 5px;
        padding: 3px;
        color: black;
    }
    padding: 30px;
}
.resume {
    width: 70%;
    display: flex;
    align-self: center;
    flex-direction: column;
    .work-element {
        border-bottom: 1px solid black;
        display: flex;
        p {
            font-size: 18px;
            // font-weight: 300;
            font-style: normal;
            line-height: 29px;
        }
        .right-element {
            width: 60%;
            display: flex;
            justify-content: flex-end;
            img {
                width: 70%;
                vertical-align: middle;
                object-fit: contain;
            }
            .image-container {
                display: flex;
                justify-content: flex-end;
            }
        }
        .left-element {
            width: 40%;
            padding: 3.5rem 2rem 2rem 2rem;
            box-sizing: border-box;
            // float: left;
        }
    }
}

.under-construction {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.timeline {
    display: flex;
    flex-direction: column;
    .timeline-header {
        display: flex;
        justify-content: center;
        .timeline-title {
            display: flex;
            flex-direction: column;
            width: 80%;
            h2 {
                background: #e6e6e6;
                border-radius: 10px;
                padding: 5px;
                width: fit-content;
                align-self: center;
            }
        }
    }
    .vertical-timeline-element-icon {
        overflow: hidden;
    }
    .vertical-timeline {
        max-width: 50vw;
        // .skill-tags {
        //     display: flex;
        //     justify-content: space-evenly;
        //     flex-wrap: wrap;
        //     span {
        //         background-color: lightgray;
        //         border-radius: 5px;
        //         padding: 3px;
        //     }
        // }
    }
    .image-container {
        display: flex;
        justify-content: center;
    }
    .experience-image {
        max-width: 100%;
    }
    #data-pipeline {
        height: 420px;
    }
    @media only screen and (max-width: 990px) {
        .skill-tags {
            span {
                margin: 5px;
            }
        }
    }
}

.notebook {
    ul {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 500px) {
    .split {
        flex-direction: column;
    }
    .left-head {
        margin-top: 50px;
        max-width: 100%;
        #me {
            width: 100%;
            display: flex;
        }
    }
    .right-head {
        margin: 15px;
    }
    .navbar {
        nav {
            ul {
                justify-content: center;
                padding: 0px;
            }
            li {
                padding: 5px;
            }
        }
    }
    .resume {
        width: 95%;
        .work-element {
            flex-direction: column;
            .left-element {
                width: 100%;
            }
            .right-element {
                width: 95%;
                justify-content: center;
                img {
                    width: 100%;
                }
            }
        }
    }
}