.App {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 3rem;
  background: #282f3c;
  color: #58d3ff;
  font-family: Consolas,monaco,monospace;
}

.App-header {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 40%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

#hello {
  padding-left: 3rem;
}

.Card-header {
  min-width: 8rem;
  display: flex;
  justify-content: space-between;
}

.Content {
  width: 60%;
  overflow: auto;
}

.Intro {
  padding-bottom: 3rem;
}

.Resume {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.Card {
  display: flex;
  flex-direction: row;
}

.Skills {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  justify-content: flex-start;
}

.Skill {
  color: #ecd363;
  background: black;
  border-radius: 9999px;
  padding: .5rem;
  margin-right: .5rem;
}

.Nav {
  display: flex;
  justify-content: flex-end;
  background: #282f3c;
  color: #58d3ff;
  padding: 2rem;
  font-family: Consolas,monaco,monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#pad-60 {
  width: 60%;
}

#links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

@media all and (max-device-width: 600px) {
  .Nav {
    display: none;
  }
  .App {
    flex-direction: column;
    padding: 0;
  }
  .App-header {
    width: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    min-height: 0;
  }
  img {
    display: none;
  }
  #hello {
    padding: 0;
  }
  .Content {
    width: auto;
  }
  .Resume {
    padding: 0;
  }
  .Card-header {
    display: none;
  }
}